<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <div class="card col col-12 col-md-4 col-lg-3"
                            style="padding-left: 0px;padding-right: 0px; margin-bottom: 5px;">
                            <img class="card-img-top" src=<%=user.avatar%> alt=
                            <%=user.name%>>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=user.name%>
                                    </h5>
                                    <p class="lead">Đang làm việc <span style="color: blue;"><%=user.status%></span> </p>
                                    <% if(user.status===false){%>
                                        <p class="lead"> Số giờ đã làm hôm nay: <span style="color: rgb(255, 5, 5);"><%=scheduleToday.gioLam%></span> (giờ) </p>
                                    <%}else{%>
                                        <p>Nơi làm việc: <%=scheduleToday[scheduleToday.length-1].workPlace %></p> 
                                        <p>Giờ bắt đầu: <%=scheduleToday[scheduleToday.length-1].timeStart.toLocaleString() %></p> 
                                        <%}%>
                                </div>
                        </div>
                        <div class="col col-12 col-md-8 col-lg-9" style="text-align: left;">
                            <% if(user.status===true){%>
                                <p class="lead"> Đang trong thời gian làm việc nhấn check out để kết thúc phiên làm việc </p>
                            <%}%>
                            <form action="/checkin" method="POST">
                                <div class="form-group" <% if(user.status===true){%> disabled='true' style ="display:none"<%}%>>
                                    <label for="Workplace" class="lead" >Nơi làm việc</label>
                                    <select class="form-control" name="Workplace"  style="max-width:300px;">
                                        <option>Công ty</option>
                                        <option>Ở nhà</option>
                                        <option>Khách hàng</option>
                                    </select>
                                </div>
                                <% if(user.status===false){ %>
                                    <button type="submit" class="btn btn-primary" style="width:200px;">Check in</button>
                                <%}else{%>
                                    <button type="submit" class="btn btn-primary" style="width:200px;">Check out</button>
                                    <%}%>
                            </form>
                            <hr>
                                <p class="lead" style="text-align:center ; color: rgb(4, 20, 248);"> <b>Danh sách phiên làm việc trong ngày</b> </p>
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="lead">#</th>
                                            <th scope="col" class="lead">Giờ bắt đầu</th>
                                            <th scope="col" class="lead">Giờ kết thúc</th>
                                            <th scope="col" class="lead">Nơi làm Việc</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for ( let i=0;i<scheduleToday.length;i++) { %>
                                            <tr>
                                                <th scope="row" class="lead"style="font-size: 1rem;">
                                                    <%=i+1%>
                                                </th>
                                                <td class="lead" style="font-size: 1rem;">
                                                    <%=scheduleToday[i].timeStart.toLocaleString()%>
                                                </td>
                                                <td class="lead" style="font-size: 1rem;">
                                                    <% if(scheduleToday[i].timeEnd!==null){%>

                                                    <%=scheduleToday[i].timeEnd.toLocaleString()%>
                                                    <%} else{ %>
                                                        Chưa kết thúc
                                                    <%}%>
                                                </td>
                                                <td class="lead" style="font-size: 1rem;">
                                                    <%=scheduleToday[i].workPlace%>
                                                </td>
                                            </tr>
                                            <%} %>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>

                
            </main>
            <%- include('../includes/end.ejs') %>