<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <div class="col col-12 col-md-8 col-lg-6" style="margin: auto; text-align: left;">
                            <p class="lead">Số ngày phép khả dụng: <b style="color:red;">
                                    <%=user.annualLeave%>
                                </b> (ngày)</p>
                            <%if(user.annualLeave===0){%>
                                <p class="lead">Đã sử dụng hết ngày phép, không thể đăng kí nghỉ phép</p>
                                <%} else{%>
                                    <p class="lead"> ĐĂNG KÍ NGHỈ PHÉP</p>
                                    <form action="/dangki-nghiphep" method="POST">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <div class="form-group lead">
                                            <label for="date">Ngày nghỉ</label>
                                            <% console.log(today)%>
                                            <input type="date" class="form-control" name="date" value="<%= today%>">
                                        </div>
                                        <div class="form-group lead">
                                            <label for="reason">Lý do</label>
                                            <input type="text" class="form-control" name="reason"
                                                placeholder="lý do nghỉ phép">
                                        </div>
                                        <div class="form-group">
                                            <label for="time">Giờ nghỉ</label>
                                            <input type="number" class="form-control" id="time" name="time"  step="0.5" min="1" max="8" value="4">
                                          </div>
                                        <button type="submit" class="btn btn-primary lead">Đăng kí</button>
                                    </form>
                        </div>
                        <%}%>

                    </div>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>